.app {
  font: san-serif;
  margin-left: 10px;
  text: bold;
}
.folder {
  margin-top: 6px;
  background-color: rgb(233, 233, 233);
  display: flex;
  cursor: pointer;
  width: 400px;
  justify-content: space-between;
  padding: 3px;
}
.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
.folder span {
  margin: 0 5px 2px 0;
}
